.mainForm-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainForm-mainContainer {
  width: 800px
}

.mainForm-customerInfo-address2 {
  display: flex;
  justify-content: space-between;
}