.mainForm-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainForm-mainContainer {
  /* width: 800px */
  padding: 1rem;
}

.mainForm-mainContainer h3 {
  text-align: center;
}

.form-group {
  padding: 0rem 1rem;
}

.mainForm-customerInfo-address2 {
  display: flex;
  justify-content: space-between;
}

.mainForm-excavation {
  display: block;
  /* flex-direction: column; */
  /* text-align: center; */
}

.totals-wrapper {
  border-top: 1px solid #444;
  width: 100%;
  padding: 1rem;
}